.content-area{
    display: flex;
    width: 100%;
    height: calc(100vh - 142px);
    overflow-y: hidden;
    overflow-x: auto;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.new-list-wrapper{
    min-width: 272px;
    width: 272px;
    background-color: hsla(0,0%,100%,.2);
    margin: 0 4px;
    border-radius: 3px;
    padding: 10px 8px 8px;
}

.new-list-wrapper:hover{
    background-color: hsla(0,0%,100%,.4);
}

.new-list-add{
    display: flex;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 2px 0;
    cursor: pointer;
    color: #fff;
}