.Headbar{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    position: relative;
    min-height: 45px;
    border-bottom: 1px solid #f4f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Headbar-message{
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #172b4d;
}

.Header-Link {
    font-size: 14px;
    color: #6b778c;
    font-weight: 400;
    text-decoration: underline;
    margin: 0 0 0 10px;
}

